<app-navbar>
        <div class="stack-container" style="padding: 40px;">
            <h1 style="font-weight: normal; text-align: center;">Create new task</h1>
            <app-clearable-input type="text" label="Title" (valueChange)="title=$event"></app-clearable-input>
            <!-- due date -->
            <div style="display: flex; gap: 10px;">
                <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="startDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Due date</mat-label>
                    <input matInput [matDatepicker]="dp2" [formControl]="dueDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Start Date</mat-label>
                    <input type="date" matInput [(ngModel)]="startDate">
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Due Date</mat-label>
                    <input type="date" matInput [placeholder]="'Due Date'" [(ngModel)]="date">
                </mat-form-field> -->
            </div>
            <!-- description -->
            <mat-form-field appearance="outline" style="width: 100%; height: 70vh;" class="dense-2">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="description"></textarea>
            </mat-form-field>
            <app-select [options]="priorities" label="Priority" (valueChange)="priority=$event"></app-select>
            <app-select [options]="categories" label="Category" (valueChange)="category=$event"></app-select>
            <!-- task dependencies -->
            <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                <mat-label>Dependencies</mat-label>
                <mat-select [multiple]="true">
                    @for (task of tasks; track task) {
                        <mat-option [value]="task.value">{{task.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <!-- asignee -->
            <app-select [options]="users" label="Assignee" (valueChange)="category=$event"></app-select>
            <button style="width: 80%; margin: auto" (click)="createTask()" class="button-rounded" color="primary" mat-flat-button>Create Task</button>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>
</app-navbar>