<div style="padding: 20px;">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close style="position: absolute; right: 5px; top: 5px;">
        <mat-icon>close</mat-icon>
    </button>

    <h1 style="margin-bottom: 25px; margin-top: 0; font-weight: bold; font-size: 2em;">Create new project</h1>
    
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-bottom: 20px;">
        {{ errorMessage }}
    </div>

    <div style="flex-grow: 1; display: flex; justify-content: space-evenly; height: 60vh;">
        <div style="width: 40%; height: 100%; display: flex; flex-direction: column;">
            <div style="flex-grow: 1;">
                <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Project name</mat-label>
                    <input matInput [(ngModel)]="projectName" required>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="description"></textarea>
                </mat-form-field>
                <mat-form-field style="display: inline-block; width: 45%;">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="startDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
                <div style="display: inline-block; width: 10%;"></div>
                <mat-form-field style="display: inline-block; width: 45%;">
                    <mat-label>Due date</mat-label>
                    <input matInput [matDatepicker]="dp2" [formControl]="dueDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-raised-button style="border-radius: 20px; height: 45px;" color="primary" (click)="createNewProject()">Create new project</button>
        </div>

        <div style="width: 40%; height: 100%; display: flex; flex-direction: column;">
            <!-- height: 1px jer ako ga nema "overflow: scroll/auto" nema efekta??????? https://stackoverflow.com/questions/75368940/in-container-with-flex-grow-1-the-content-is-overflowing-when-it-should-be-scro -->
            <div style="height: 1px; flex-grow: 1; background-color: #EFF0F0; border-radius: 20px; margin-bottom: 20px; padding: 10px; overflow-y: auto;">
                    <!-- @for(user of users; track user){
                        <div style="display: flex; align-items: center; padding-bottom: 20px;">
                            <div style="width: 45px; height: 45px; background-color: aqua; border-radius: 50%; margin: 5px; margin-right: 15px;"></div>
                            <div>
                                <p>{{user.name}}</p>
                                <p style="color: grey; padding-top: 5px;">{{user.role}}</p>
                            </div>
                        </div>
                    } -->
                    <mat-selection-list [(ngModel)]="usersSelected">
                        @for(user of users; track user){
                            <mat-list-option color="primary" style="height: 65px;" [value]="">
                                <div style="display: flex; align-items: center;">
                                    <div style="width: 45px; height: 45px; background-color: aqua; border-radius: 50%; margin: 5px; margin-right: 15px;"></div>
                                    <div>
                                        <p>{{user.name}}</p>
                                        <p style="color: grey; padding-top: 5px;">{{user.role}}</p>
                                    </div>
                                </div>
                            </mat-list-option>
                        }
                    </mat-selection-list>
            </div>
            <button mat-raised-button style="border-radius: 20px; background-color: #E8DEF8; height: 45px;" (click)="invite()">Invite member</button>
        </div>
    </div>
</div>