<div class="card">
    <div style="display: flex; justify-content: space-between;">
        <h4 style="margin-top: 0; margin-bottom: 5px; font-weight: normal; cursor: pointer;" [routerLink]="'/project/' + task.projectId + '/task/' + task.id">{{task.title}}</h4>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="small-icon-button"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteTask()">
                <mat-icon>archive</mat-icon>
                <span>Archive</span>
            </button>
            <button mat-menu-item  [routerLink]="'/project/' + task.projectId + '/task/' + task.id">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </div>
    <!-- content -->
    <div style="display: flex; flex-direction: row; align-items: end; justify-content: space-between;">
        <!-- task info -->
        <div style="display: flex; flex-direction: column; gap: 5px;">
            <div class="chip chip-neutral">{{task.category}}</div>
            <div [classList]="['chip chip-' + priorityColor]">{{task.priority === "High" ? "🎯︎ " + task.priority : task.priority}}</div>
            <div style="font-size: smaller;">📅 {{task.dueDate.toDateString()}}</div>
        </div>
        <!-- avatar -->
        <app-avatar-stack [userIds]="asigneeIds"></app-avatar-stack>
    </div>
</div>