<div class="container">
    <div class="sub-container left ml-10">
        <img [routerLink]="'/'" class="profile-picture" style="cursor: pointer;" src="/assets/logo.svg">
        <a mat-button class="dropdown-button ml-10 white" [routerLink]="'/'">
            Projects
        </a>
        <a mat-button class="dropdown-button ml-10 white" [routerLink]="'/company-members'">
            Company members
        </a>
    </div>
    <div class="sub-container right mr-10">
        <!-- <input class="search" placeholder="Ask virtual assistant"> -->
        <app-notification-icon></app-notification-icon>
        <button mat-button class="dropdown-button ml-10 white" [matMenuTriggerFor]="profileDropdown">
            <img class="profile-picture center" [src]="getProfileImagePath()">
            <i class="fa-solid fa-chevron-down fa-sm ml-10 center" style="margin-top: 0.75rem;"></i>
        </button>
        <mat-menu #profileDropdown="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="'/profile/me'">View profile</button>
            <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
    </div>
</div>