<div style="padding: 20px;">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close
        style="position: absolute; right: 5px; top: 5px;">
        <mat-icon>close</mat-icon>
    </button>

    <h1 style="margin-bottom: 25px; margin-top: 0; font-weight: bold; font-size: 2em;">Invite members to project</h1>

    <div style="display: flex;">
        <app-select [options]="members" [(value)]="memberId" label="Company members"
        (valueChange)="memberId=$event" [required]="true"></app-select>
        <app-select [options]="roles" [(value)]="memberId" label="Roles"
        (valueChange)="memberId=$event" [required]="true"></app-select>
    </div>
</div>