.mat-button-toggle {
    background-color: transparent;
    color: black;
}

.mat-button-toggle .toggle-button-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mat-button-toggle:hover {
    background-color: transparent;
}

.mat-button-toggle-checked {
    background-color: transparent;
    color: var(--color-primary) !important;
}

mat-button-toggle-group {
    border: none;
}

.filters {
    position: relative;
    display: inline-block;
}

.filters-container {
    position: absolute;
    top: 0;
    left: 40rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99; /* osigurava da bude iznad drugih elemenata */
}

.active {
    color: #5096A4;
}