<div style="height: 100%; width: auto; background-color: white; padding: 20px;">
    <!-- seearch and create button -->
    <div style="display: flex; gap: 20px; width: 100%; align-items: center; justify-content: center; padding-top: 20px;">
        <app-clearable-input label="search tasks" style="margin-bottom: -1.25em;"></app-clearable-input>
        <button class="button-rounded" mat-flat-button color="primary"><mat-icon>add</mat-icon>Create new task</button>
    </div>
    <!-- filter/view bar -->
    <div style="background-color: #EEE; border-radius: 4px; width: 100%; height: 40px; margin-top: 20px;">
        
    </div>
</div>