.mat-button-toggle {
    background-color: transparent;
    color: black;
}

.mat-button-toggle .toggle-button-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mat-button-toggle:hover {
    background-color: transparent;
    color: #AAA !important;
}

.mat-button-toggle-checked {
    background-color: transparent;
    color: #00F !important;
}

mat-button-toggle-group {
    border: none;
}