<div [matMenuTriggerFor]="menu" style="display: flex; gap: 10px;">
@for (assignee of task?.assignedTo; track assignee) {
<span style="display: flex; align-items: center; gap: 10px" [matTooltip]="assignee.firstName + ' ' + assignee.lastName">
    <span
        style="width: 24px; height: 24px; border-radius: 100%; background-color: rgb(255, 102, 0); color: white; text-align: center; vertical-align: center; line-height: 24px;">
        {{assignee.firstName[0]}}</span>
</span>
}
<!-- <button class="dense-3" mat-stroked-button>Edit</button> -->
<button mat-icon-button class="small-icon-button"><mat-icon>edit</mat-icon></button>
</div>
<mat-menu #menu="matMenu">
    <div style="padding: 10px">
        <mat-form-field appearance="outline" style="width: 100%;" class="dense-2" (click)="$event.stopPropagation();">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="dueDate" [min]="task?.startDate" [required]="true">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button (click)="updateDate()">Update Due date</button>
        <button mat-flat-button>Cancel</button>
    </div>
</mat-menu>