<div class="centered-content">
    <div class="stack-container">
        <h1>login</h1>
        <mat-form-field appearance="outline">
            <mat-label type="email">Email</mat-label>
            <input matInput placeholder="example@email.com" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
        <button (click)="login()" color="primary" mat-raised-button>Login</button>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
</div>