*{
    margin: 0;
    padding: 0;
}

.info{
    position: relative;
}
.chart{
    position: relative; /* contains date-lines because of position: absolute */
    overflow: auto;
    display: inline-block;
    /* flex-grow: 1; */
}
.header{
    border-bottom: 1px solid #5096A4;
    height: 20px;
    /* overflow: auto; */
    /* display: inline-block; */
}
.date-line{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #5096A4;
    top: 0;
}
.date-line-active{
    background-color: #FF5733;
}
.current-date{
    background-color: #ff583398;
}
.text-align-center{
    text-align: center;
}
.float-left{
    float: left;
}
.column-display{
    display: inline-block;
    /*fix inline-block whitespace*/
    /* margin-bottom: -4px; */
    overflow: hidden;
}
.task{
    float: left;
    position: relative; /*fixes borders/z-index???*/
    text-overflow: ellipsis;
}
.task-bar{
    /* background-color: blue; */
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 4px;
}
.hover {
    background-color: #F5F5F5;
}
.task-title:hover{
    text-decoration: underline;
    /* cursor: text; */
    cursor: pointer;
}