body {
    height: 100%;
    margin: 0;
}
.d {
    display: flex;
    height: 100%;
}
.d > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d1{
    background-color: #5096A4D6;
    color: white;
}
p {
    text-align: center;
    font-size: 4vw;
}