<div class="top-container">
    <div class="flex">
        <p class="project-title margin-15">{{title}}</p>
        <!-- <i class="fa-solid fa-x c-pointer x margin-15"></i> -->
    </div>
    <div class="main-container">
        <div class="basic-container margin-15 left-container flex-2">
            <img class="profile-picture center" [src]="getProfileImagePath()" onerror="this.src='/assets/default-user.jpg'">
            <div class="ml-20 w-100">
                <p class="title">{{name}}</p>
                <p class="desc">{{desc}}</p>
            </div>
        </div>
        <!-- <div class="container margin-15 inherit-height flex-1">
            <div class="justify-container">
                <app-status-item [title]="'Working hours:'" [desc]="'-'" [faicon]="'fa-regular fa-calendar'"></app-status-item>
                <app-status-item [title]="'Status:'" [desc]="'-'" [faicon]="'fa-solid fa-circle-exclamation'" [color]="'#FF5733'" [bold]="true"></app-status-item>
            </div>
        </div> -->
    </div>
    <div class="main-container">
        <div class="container pt-1 pb-1 w-100 margin-15">
            <div class="d-container">
                <app-status-item class="mr-20" [title]="'All tasks:'" [desc]="allTasks.toString()" [faicon]="'fa-solid fa-list-check'"></app-status-item>
                <app-status-item class="mr-20" [title]="'Completed tasks:'" [desc]="completedTasks.toString()" [faicon]="'fa-solid fa-check'" [color]="'#5096A4'" [bold]="true"></app-status-item>
                <app-status-item class="mr-20" [title]="'Overdue tasks:'" [desc]="overdueTasks.toString()" [faicon]="'fa-regular fa-clock'" [color]="'#FF5733'" [bold]="true"></app-status-item>
            </div>
            <!-- <i class="fa-solid fa-sliders center mr-10"></i> -->
        </div>
    </div>
    <div *ngIf="tasksVisible" class="margin-15">
        <div class="accordion">
            <div class="accordion-item accordion-header" (click)="toggleTasks();">
                <i *ngIf="allTasksAccordionVisible" class="fa-solid fa-chevron-down fa-xs mr-10"></i>
                <i *ngIf="!allTasksAccordionVisible" class="fa-solid fa-chevron-right fa-xs mr-10"></i>
                <span>Active tasks on this project</span>
            </div>
            <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px;" *ngIf="allTasksAccordionVisible">
                @for (task of tasks; track task) {
                    <app-task-card [task]="task"></app-task-card>
                }
            </div>
        </div>
    </div>
    <div class="margin-15">
        <div class="accordion">
            <div class="accordion-item accordion-header" (click)="toggleProjects();">
                <i *ngIf="allProjectsAccordionVisible" class="fa-solid fa-chevron-down fa-xs mr-10"></i>
                <i *ngIf="!allProjectsAccordionVisible" class="fa-solid fa-chevron-right fa-xs mr-10"></i>
                <span>Active projects</span>
            </div>
            <div *ngIf="allProjectsAccordionVisible">
                @for (project of projects; track project) {
                    <app-project-item [id]="project.id" [projectName]="project.title" [starred]="project.starred" [dueDate]="project.dueDate.toDateString()" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'" [dontRefresh]="true"></app-project-item>
                }
            </div>
        </div>
    </div>
</div>