<span [matMenuTriggerFor]="menu" (menuOpened)="getUsers()">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
</span>
<mat-menu #menu="matMenu" style="max-height: 300px">
    <!-- <app-select [options]="users" label="Assignee" (valueChange)="user=$event" (click)="$event.stopPropagation()"
        [required]="true"></app-select> -->
        
    @for(user of users; track user){
        <button mat-menu-item (click)="addUser(user)">{{user.firstName}} {{user.lastName}} - {{user.roleName}}</button>
    }
</mat-menu>