.chip{
    border-radius: 10px;
    height: fit-content;
    /* background-color: red; */
    /* color: black; */
    padding: 5px;
}
.chip-warn{
    background-color: red;
    color: black;
}
.chip-mid{
    background-color: yellow;
    color: black;
}
.chip-good{
    background-color: green;
    color: black;
}
.chip-neutral{
    color: blue;
}