<div
    style="width: 100%; border-radius: 10px; padding: 8px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; background-color: #EEE;">
    <span><strong>{{name}}</strong></span>
    <span class="chip">{{category}}</span>
    <span [classList]="['chip-' + priorityColor]">{{priority}}</span>
    <span class="chip chip-good">{{status}}</span>
    <div class="chip" style="display: flex; flex-direction: row; align-items: center; gap: 4px;">
        <mat-icon>date_range</mat-icon>
        <div>{{date}}</div>
    </div>
</div>