<div class="card">
    <span style="width: 100%;"><strong>{{task.title}}</strong></span>
    <span style="width: 100%;" class="chip">{{task.category}}</span>
    <span style="width: 100%;" [classList]="['chip chip-' + priorityColor]">{{task.priority}}</span>
    <span style="width: 100%;" [classList]="['chip chip-' + statusColor]">{{task.status}}</span>
    <div style="width: 100%; display: flex; flex-direction: row; align-items: center; gap: 4px;">
        <!-- delete/edit -->
        <div style="display: flex;">
            <button mat-icon-button class="small-icon-button" (click)="deleteTask(task.id)"><mat-icon>delete_outline</mat-icon></button>
            <button mat-icon-button class="small-icon-button"><mat-icon>edit</mat-icon></button>
        </div>
        <!-- date -->
        <div style="width: 100%; display: flex; flex-direction: row; align-items: center; gap: 4px;">
            <mat-icon>date_range</mat-icon>
            <div>{{task.date}}</div>
        </div>
    </div>
</div>