.container {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.input-wrapper {
    position: relative;
    border-radius: 5rem;
    border: 2px solid black;
}

.input-icon{
    position: absolute;
    left: 1rem;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}

.input {
    height: 3rem;
    border: 0;
    border-radius: 5rem;
    width: 20rem;
    padding-left: 3rem;
    padding-right: 1rem;
}

.input:focus {
    outline: none !important;
}

.button {
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 5rem;
    color: white;
    background-color: #5096A4;
    border: 2px solid black;
    font-size: medium !important;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;

    cursor: pointer;
}

.button:hover {
    filter: brightness(95%);
}

.button:active {
    filter: brightness(90%);
}

.align-left {
    text-align: left;
    justify-content: left;
}

.small-button {
    font-size: meidum;
    cursor: pointer;
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 10px !important;
}

.accordion-header {
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}

.active {
    color: #5096A4;
}

.filters {
    position: relative;
    display: inline-block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99; /* osigurava da bude iznad drugih elemenata */
}

.member-container {
    display: flex;
    gap: 1rem;
}

.borderless-dialog .mat-dialog-container {
    padding: 0px;
    overflow: hidden;
    background-color: red !important;
    color: red !important;
  }
  




.member-item-container {
    padding: 1rem;
    background-color: #EFF0F0;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
}

.circle-image {
    margin: auto;
    border-radius: 50%;
    height: 60%;
    width: 60%;
    background-color: white;
    object-fit: cover;
}

.name {
    font-weight: 500;
    padding: 0;
    margin: auto;
    margin-top: 10px;
}

.desc {
    padding: 0;
    margin: auto;
}

.icon {
    margin: 0;
    display: none;
}

.hover:hover .icon {
    display: block;
}

.icon:hover {
    color: red;
}