.kanban-column {
    /* border: solid; */
    flex-grow: 1;
    border-right: solid;
    border-left: solid;
    border-width: 2px;
    border-color: #dcedff;
    margin-left: -1px;
    margin-right: -1px;
    height: fit-content;
    min-height: 200px;
    padding: 10px;
}