<div *ngIf="!mobile" style="display: flex; width: 100%; align-items: stretch; overflow-x: auto; padding: 2px;"
    cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="reorderStatus($event)" cdkDropListGroup>
    @for (status of statuses; track status) {
    <div class="kanban-column" cdkDrag [cdkDragDisabled]="!role.canEditProject">
        <div style="display: flex; justify-content: space-between; margin: 10px;">
            <h3 style="text-align: center; margin-top: 0; flex-grow: 1;">
                {{status}}
            </h3>
            <div>
                <button *ngIf="role.canEditProject && status != 'Done'" mat-icon-button [matMenuTriggerFor]="menu"
                    class="small-icon-button"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="role.canEditProject && deleteStatus(status)">
                        <mat-icon>delete_outlined</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="role.canEditProject && renameStatus(status)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div [id]="status" [cdkDropListConnectedTo]="statuses" cdkDropList cdkDropListOrientation="vertical"
            cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)"
            style="display:block; overflow-y: auto; height: 80vh; scrollbar-width: thin;">
            @for (task of getTasksOfStatus(status); track task) {
            <div cdkDrag [cdkDragDisabled]="!role.canEditProject" style="margin: 8px;" [style.cursor]="(role.canEditProject) ? 'move' : 'default'">
                <app-kanban-task-card [role]="role" [task]="task"></app-kanban-task-card>
            </div>
            }
        </div>
    </div>
    }
</div>
<div *ngIf="mobile" style="display: flex; width: 100%; align-items: stretch; flex-direction: column;" cdkDropListGroup>
    @for (status of statuses; track status) {
    <div class="kanban-column-mobile">
        <h3 style="text-align: center; margin-top: 0; margin-top: auto; margin-bottom: auto;">
            {{status}}
        </h3>
        <div class="mobile-task-list" [id]="status" cdkDropList cdkDropListSortingDisabled
            cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            @for (task of getTasksOfStatus(status); track task) {
            <div cdkDrag [cdkDragDisabled]="!role.canEditProject" [cdkDragStartDelay]="250" style="margin: 8px;">
                <app-kanban-task-card [role]="role" [task]="task"></app-kanban-task-card>
            </div>
            }
        </div>
    </div>
    }
</div>