<div style="display: flex; width: 100%;" cdkDropListGroup>
    @for (status of statuses; track status) {
    <div class="kanban-column">
        <h3 style="text-align: center; margin-top: 0;">
            {{status}}
        </h3>
        <div cdkDropList cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)" style="display:block; height: 80vh; overflow-y: auto;">
        @for (task of getTasksOfStatus(status); track task) {
            <div cdkDrag style="margin: 8px">
                <app-kanban-task-card [task]="task"></app-kanban-task-card>
            </div>
        }
        </div>
    </div>
    }
</div>