<div class="container">
    <div class="flex">
        <p class="title">Filters</p>
        <p class="clear lightgray">Clear</p>
    </div>
    <div class="flex">
        <select class="select">
            <option>Start date</option>
        </select>
        <input class="input ml-20 mr-20">
        <i class="fa-solid fa-x m-auto lightgray"></i>
    </div>
    <button class="button lightgray mt-20">
        <i class="fa-solid fa-plus fa-xs"></i>
        Add filter
        <i class="fa-solid fa-chevron-down fa-xs"></i>
    </button>
</div>