<div class="container">
    <div class="flex">
        <p class="title">{{title}}</p>
        <p class="clear lightgray">Clear</p>
    </div>
    <div class="flex item-container">
        <div class="flex item" *ngFor="let filter of currentFilters| keyvalue">
            <div class="flex flex-value">
                <i [ngClass]="['m-auto', allFilters[filter.key].icon]"></i>
                <p class="option-value ml-10">{{allFilters[filter.key].name}}</p>
            </div>
            <input *ngIf="allFilters[filter.key].type != 'select'" [type]="allFilters[filter.key].type" class="input ml-20 mr-20">
            <mat-select *ngIf="allFilters[filter.key].type == 'select'" class="dropdown ml-20 mr-20" placeholder="Select">
                <mat-option *ngFor="let item of allFilters[filter.key].items;" [value]="item.value">
                    {{item.name}}
                </mat-option>
            </mat-select>
            <i class="fa-solid fa-x m-auto lightgray c-pointer" (click)="removeFilter(filter.key)"></i>

            <mat-menu #selectMenu>
                <input type="text" class="input ml-20 mr-20" (click)="$event.stopPropagation()">
                <ng-container *ngFor="let filter of allFilters; let i = index;">
                    <button mat-menu-item *ngIf="filter.enabled" (click)="addFilter(filter, i)">
                        <i [className]="filter.icon" class="m-auto"></i>
                        {{filter.name}}
                    </button>
                </ng-container>
            </mat-menu>
        </div>
    </div>
    <button class="button lightgray mt-20" mat-button [matMenuTriggerFor]="menu">
        <i class="fa-solid fa-plus fa-xs"></i>
        Add filter
        <i class="fa-solid fa-chevron-down fa-xs"></i>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let filter of allFilters; let i = index;">
            <button mat-menu-item *ngIf="filter.enabled" (click)="addFilter(filter, i)">
                <i [className]="filter.icon" class="m-auto"></i>
                {{filter.name}}
            </button>
        </ng-container>
    </mat-menu>
</div>