<div style="padding: 40px;">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close
        style="position: absolute; right: 5px; top: 5px;">
        <mat-icon>close</mat-icon>
    </button>
    <div style="display: flex; flex-direction: column; gap: 20px; align-items: center; padding: 10px;">
        <h2 style="font-weight: normal; text-align: center; margin: 0">Are you sure you want to archive "{{data.title}}"?</h2>
        <p style="color: gray; text-align: center;">You can un-archive this task later</p>
        <div style="display: flex; gap: 20px">
            <button (click)="deleteTask()" class="button-rounded" color="primary" style="width: 100px;" mat-flat-button>Yes</button>
            <button class="button-rounded" color="primary" style="width: 100px;" mat-flat-button mat-dialog-close>No</button>
        </div>
    </div>
</div>