@use '../../../custom-theme.scss' as theme;
.sidenav {
    background-color: #EFF0F0 !important;
    border: 0;
    display: flex !important;
    flex-direction: column !important;
    justify-items: flex-end;
    background-color: blue;
    overflow: hidden;
}

.container {
    height: calc(100% - 2.5rem);
    position: fixed;
    width: 100%;
}

.title {
    font-weight: 500;
}

.menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium !important;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

.menu-item:active {
    background-color: rgba(0, 0, 0, 0.05);
}

mat-nav-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1 !important;
}

.active {
    color: #5096A4 !important;
}

.icon {
    width: 20px;
}

.last-item {
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.mat-drawer.menu-open {
    width: 13rem;
}

.mat-drawer.menu-close {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 50px !important;
    overflow: hidden;
}