<div fxLayout="column" fxFlexFill>
    <app-topnav></app-topnav>

    <mat-drawer-container fxFlex class="container">
        <mat-drawer
            class="sidenav"
            #drawer
            mode="side"
            opened="true"
            [class.menu-open]="isExpanded"
            [class.menu-close]="!isExpanded">
            <p class="title margin-15" *ngIf="isExpanded">{{ title }}</p>

            <mat-nav-list>
                <a class="menu-item pl-15 pr-15 lightgray" routerLink="/" routerLinkActive="active">
                    <i class="icon fa-regular fa-folder-open mr-10"></i>
                    <span *ngIf="isExpanded">Project details</span>
                </a>
                <a class="menu-item pl-15 pr-15 lightgray" routerLink="/performance" routerLinkActive="active">
                    <i class="icon fa-solid fa-chart-line mr-10"></i>
                    <span *ngIf="isExpanded">Performance</span>
                </a>
                <a class="menu-item pl-15 pr-15 lightgray" routerLink="/tasks" routerLinkActive="active">
                    <i class="icon fa-solid fa-list-check mr-10"></i>
                    <span *ngIf="isExpanded">Tasks</span>
                </a>
                <a class="menu-item pl-15 pr-15 lightgray" routerLink="/members" routerLinkActive="active">
                    <i class="icon fa-solid fa-users mr-10"></i>
                    <span *ngIf="isExpanded">Members</span>
                </a>
                <a class="menu-item pl-15 pr-15 lightgray last-item" (click)="toggleNav();">
                    <i class="fa-solid fa-angles-left mr-10" *ngIf="isExpanded"></i>
                    <i class="fa-solid fa-angles-right mr-10" *ngIf="!isExpanded"></i>
                    <span *ngIf="isExpanded">Collapse</span>
                </a>
            </mat-nav-list>
        </mat-drawer>
        
        <mat-drawer-content [ngStyle]="{ 'margin-left.rem': navMargin }">
            <ng-content></ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>