<div class="centered-content">
    <mat-card>
        <mat-card-content>
            <div class="stack-container">
                <h3>Input your password</h3>
                <mat-form-field appearance="outline" class="dense-2">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (password.hasError('required')) {
                        <mat-error>Please enter a password</mat-error>
                    }
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="dense-2">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordConfirm">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (passwordConfirm.hasError('required')) {
                        <mat-error>Please enter a password</mat-error>
                    }
                    @if (passwordConfirm.hasError('differentPasswords')) {
                        <mat-error>Passwords must match</mat-error>
                    }
                </mat-form-field>
                <button (click)="change()" color="primary" class="button-rounded" mat-flat-button>Continue</button>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>