<app-navbar>
    <div class="main-container">
        <div class="container w-100 margin-15 left-container">
            <!-- <img class="profile-picture center" src="/assets/logo.svg"> -->
            <div class="w-100">
                <app-updatable-title [role]="role" [id]="projectId" [title]="project?.title" [isProject]="true"></app-updatable-title>
                <div style="margin-bottom: 15px;">
                    <app-markdown-edit-chip [role]="role" [content]="description" (onSave)="updateDescription($event)"></app-markdown-edit-chip>
                </div>
                <!-- <app-editable-markdown [isProject]="false" [role]="role" [content]="description"
                    (onSave)="updateDescription($event)"></app-editable-markdown> -->
                <!-- <p class="title">{{title}}</p>
                <p class="desc">{{description}}</p> -->
            </div>
        </div>
        <div class="container w-100 margin-15 inherit-height">
            <div class="justify-container">
                <app-status-item class="c-pointer" [title]="'Due date:'" [desc]="(dueDate | date:'dd. MMMM yyyy')!.toString()" [faicon]="'fa-regular fa-calendar'"
                [matMenuTriggerFor]="menu" [matTooltip]="(role.canEditProject) ? 'click to change' : ''" [style.pointer-events]="(role.canEditProject) ? 'unset' : 'none' " (menuOpened)="setTmpDueDate()"
                ></app-status-item>
                <mat-menu #menu="matMenu">
                    <div style="padding: 10px">
                        <mat-form-field appearance="outline" style="width: 100%;" class="dense-2" (click)="$event.stopPropagation();">
                            <mat-label>Start date</mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="tempDueDate" [min]="project?.startDate" [required]="true">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                        <button mat-flat-button (click)="updateDate()">Update Due date</button>
                        <button mat-flat-button>Cancel</button>
                    </div>
                </mat-menu>
                <app-status-item *ngIf="daysLeft > 0" [title]="'Days left:'" [desc]="daysLeft + ' days'" [faicon]="'fa-regular fa-clock'" [color]="'#00c20c'" [bold]="true"></app-status-item>
                <app-status-item *ngIf="daysLeft == 0" [title]="'Days left:'" [desc]="'TODAY'" [faicon]="'fa-regular fa-clock'" [color]="'#FF5733'" [bold]="true"></app-status-item>
                <app-status-item *ngIf="daysLeft < 0" [title]="'Days left:'" [desc]="'OVERDUE ' + (-daysLeft) + ' days'" [faicon]="'fa-regular fa-clock'" [color]="'#FF5733'" [bold]="true"></app-status-item>
                <app-status-item [title]="'Status:'" [desc]="overdueTasks > 0 ? 'OVERDUE TASKS' : 'OK'" [faicon]="'fa-solid fa-circle-exclamation'" [color]="overdueTasks > 0 ? '#FF5733' : '#00c20c'" [bold]="true"></app-status-item>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container w-100 margin-15 flex-col">
            <div class="d-container">
                <p class="title">Project completion:</p>
                <!-- <i class="fa-solid fa-sliders center mr-10"></i> -->
            </div>
            <app-progressbar [progress]="progress" [color]="'#FFCF32'"></app-progressbar>
        </div>
    </div>
    <div class="main-container">
        <div class="container pt-1 pb-1 w-100 margin-15">
            <div class="d-container">
                <app-status-item class="mr-20" [title]="'All tasks:'" [desc]="allTasks.toString()" [faicon]="'fa-solid fa-list-check'"></app-status-item>
                <app-status-item class="mr-20" [title]="'Completed tasks:'" [desc]="completedTasks.toString()" [faicon]="'fa-solid fa-check'" [color]="'#5096A4'" [bold]="true"></app-status-item>
                <app-status-item class="mr-20" [title]="'Overdue tasks:'" [desc]="overdueTasks.toString()" [faicon]="'fa-regular fa-clock'" [color]="'#FF5733'" [bold]="true"></app-status-item>
            </div>
            <!-- <i class="fa-solid fa-sliders center mr-10"></i> -->
        </div>
    </div>

    <div class="main-container">
        <div class="container w-100 margin-15 left-container">
            <div class="w-100">
                <div style="display: flex; justify-content: space-between;">
                    <p class="title">Project statuses:</p>
                    <i *ngIf="role.canEditProject" class="fa-solid fa-plus add-icon" (click)="createStatus()"></i>
                </div>
                <div *ngFor="let status of statuses" class="hover">
                    <p>{{status.order}}. {{status.name}}</p>
                    <i *ngIf="role.canEditProject && status.name !== 'Done' && status.name !== 'In Progress' && status.name !== 'New'" class="fa-solid fa-trash icon ml-10 c-pointer" (click)="deleteStatus(status.name)" matTooltip="Delete"></i>
                </div>
            </div>
        </div>
        <div class="container w-100 margin-15 inherit-height">
            <div class="w-100">
                <div style="display: flex; justify-content: space-between;">
                    <p class="title">Project categories:</p>
                    <i *ngIf="role.canEditProject" class="fa-solid fa-plus add-icon" (click)="createCategory()"></i>
                </div>
                <div *ngFor="let category of categories"  class="hover">
                    <p>{{category.name}}</p>
                    <i *ngIf="role.canEditProject" class="fa-solid fa-trash icon ml-10 c-pointer" (click)="deleteCategory(category.id)" matTooltip="Delete"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-15">
        <p class="title">Activities:</p>
        @for(activity of viewActivities; track activity; let last = $last){
            <app-activity-item [activity]="activity"></app-activity-item>
            <hr *ngIf="!last">
        }
        <mat-paginator (page)="pageChange($event)" [length]="paginatorLen" [pageSize]="paginatorPageSize" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>    
</app-navbar>