.circle-image {
    display: block;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: white;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    cursor: pointer;
}

.image-container {
    height: 7rem;
    width: 7rem;
    position: relative;
}

.image-container:hover .edit-icon  {
    display: block;
}

.image-container:hover .circle-image  {
    background:rgba(0,0,0,0.6);
    opacity: 0.5;
}

.tag {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #222;
    font-weight: bold;
    font-size: small;
}

.chip {
    border-radius: 5px;
    font-weight: bold;
    padding: 4px;
    font-size: small;
}

.chip-warn {
    color: rgb(199, 49, 17);
    background-color: rgb(199, 49, 17, 0.15);
}

.chip-mid {
    color: rgb(255, 182, 45);
    background-color: rgb(255, 182, 45, 0.15);
}

.chip-good {
    color: green;
    background-color: rgba(0, 128, 0, 0.15);
}

.chip-neutral {
    color: var(--color-primary);
    background-color: rgb(71, 118, 228, 0.15);
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 10px !important;
}

.accordion-header {
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}

.scroll {
    height: 20rem;
    overflow: scroll;
    overflow-x: hidden;
}