<app-topnav></app-topnav>

<div class="container column pt-2 pl-container">
    <div class="container row">
        <div class="input-wrapper">
            <input class="input" placeholder="Search project" [(ngModel)]="search" (input)="filterItems()"/>
            <i class="fa-solid fa-magnifying-glass input-icon"></i>
        </div>
        <a class="button pl-15 pr-15 ml-20" (click)="newProjectPopUp()">
            <i class="fa-solid fa-plus mr-10"></i>
            <span>Add new project</span>
        </a>
    </div>
    <div class="container row pl-l pl-r mt-20" style="justify-content: space-between;">
        <div class="container row align-left">
            <a class="small-button mr-20 active">
                <i class="fa-solid fa-list mr-10"></i>
                <span>List</span>
            </a>
            <a class="small-button">
                <i class="fa-solid fa-chart-gantt mr-10"></i>
                <span>Ganttogram</span>
            </a>
        </div>
        <div class="filters">
            <a class="small-button" (click)="openFilters()">
                <i class="fa-solid fa-filter mr-10"></i>
                <span>Filter</span>
            </a>
            <app-filters *ngIf="isFilterOpen" [title]="'Project Filters'" (fetchProjects)="fetchProjectsFromLocalStorage()" [filtersName]="'project_filters'" [allFilters]="filters"></app-filters>
            <div *ngIf="isFilterOpen" (click)="openFilters()" class="overlay">
            </div>
        </div>
    </div>
    <!-- <div class="container row align-left pl-l pl-r mt-20">
        <div class="accordion" #mostRecentAccordion>
            <div class="accordion-item accordion-header" (click)="toggleMostRecentAccordion();">
                <i class="fa-solid fa-chevron-down mr-10" *ngIf="mostRecentAccordionVisible"></i>
                <i class="fa-solid fa-chevron-up mr-10" *ngIf="!mostRecentAccordionVisible"></i>
                <span>Most recent projects</span>
            </div>
            <div *ngIf="mostRecentAccordionVisible">
                <app-project-item [projectName]="'Project name 1'" [starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'" [starred]="false" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'" [starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'" [starred]="false" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'" [starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
            </div>
        </div>
    </div>

    <div class="container row align-left pl-l pl-r mt-20">
        <div class="accordion" #starredProjectsAccordion>
            <div class="accordion-item accordion-header" (click)="toggleStarredProjectsAccordion();">
                <i class="fa-solid fa-chevron-down mr-10" *ngIf="starredProjectsAccordionVisible"></i>
                <i class="fa-solid fa-chevron-up mr-10" *ngIf="!starredProjectsAccordionVisible"></i>
                <span>Starred projects</span>
            </div>
            <div *ngIf="starredProjectsAccordionVisible">
                <app-project-item [projectName]="'Project name 1'"[starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'"[starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                <app-project-item [projectName]="'Project name 1'"[starred]="true" [dueDate]="'April 2024'" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
            </div>
        </div>
    </div> -->

    <div class="container row align-left pl-l pl-r mt-20">
        <div class="accordion" #allProjectsAccordion>
            <div class="accordion-item accordion-header" (click)="toggleAllProjectsAccordion();">
                <i class="fa-solid fa-chevron-down mr-10"></i>
                <span>All projects</span>
            </div>
            <div *ngIf="allProjectsAccordionVisible">
                @for (project of projects; track project) {
                    <app-project-item [id]="project.id" [projectName]="project.title" [starred]="project.starred" [dueDate]="project.dueDate.toDateString()" [progressBarProgress]="70" [progressBarColor]="'#FFCF32'"></app-project-item>
                }
            </div>
        </div>
    </div>
</div>