<div>
    <div class="container mt-5 mb-5">
        <div class="container" style="width: 40rem; text-align: left; justify-content: left;">
            <div class="color"></div>
            <a (click)="toggleStarred();" style="cursor: pointer;">
                <i class="fa-regular fa-star ml-10 lightgray" *ngIf="!starred"></i>
                <i class="fa-solid fa-star ml-10 lightgray" *ngIf="starred"></i>
            </a>
            <a [routerLink]="'/project/'+id+'/tasks'" class="project-name ml-10">{{ projectName }}</a>
        </div>
        <div class="" style="width: 28rem; margin-top: auto;">
            <app-progressbar [progress]="progressBarProgress" [color]="progressBarColor"></app-progressbar>
        </div>
        <div class="hover">
            <p class="mr-20 samewidth date">{{ dueDate | date:'dd. MMMM yyyy' }}</p>
            <div class="mr-20 samewidth icons">
                <i class="fa-solid fa-archive mr-20 button" (click)="archiveProject();"></i>
                <i class="fa-solid fa-pen-to-square mr-20 button"></i>
            </div>
        </div>
    </div>
</div>