<div style="display: flex; flex-direction: column; gap: 10px;">
    <mat-card>
        <mat-card-content>
            <!-- description -->
            <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                <mat-label>Write a comment</mat-label>
                <textarea matInput [(ngModel)]="newComment" style="height: 100px;"></textarea>
            </mat-form-field>
            <button mat-flat-button (click)="postComment()" color="primary">Comment</button>
        </mat-card-content>
    </mat-card>
    @for (comment of comments; track comment) {
    <app-comment [comment]="comment"></app-comment>
    }
</div>