<div style="display: flex; flex-direction: column; gap: 10px;">
    @for (comment of comments; track comment) {
    <app-comment [comment]="comment"></app-comment>
    }
    <mat-card *ngIf="role.canEditTask">
        <mat-card-content>
            <!-- description -->
            <app-markdown-editor [(value)]="newComment" label="Write a comment"></app-markdown-editor>
            <button mat-flat-button (click)="postComment()" color="primary">Comment</button>
        </mat-card-content>
    </mat-card>
</div>